body{
    background-color : rgb(224, 235, 241);
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1{
    color: rgb(9, 124, 86);
}

h3{
    color: rgb(9, 124, 86);
}